{% extends "base.html" %}
{% load i18n %}

{% block content %}
<div class="page-header">
<h1>{% trans "Shorten your long link" %}</h1>
</div>

<form action="/" method="post" class="form-horizontal" novalidate>
  {% csrf_token %}
  <div class="form-group">
    <label for="{{ form.url.id_for_label }}" class="col-sm-2 control-label">{{ form.url.label }}</label>
    <div class="col-sm-7">
      {{ form.url }}
    </div>
    <div class="col-sm-1">
      <button type="submit" class="btn btn-primary">{% trans "Shorten it!" %}</button>
    </div>
  </div>

  {% for error in form.url.errors %}
  <div class="col-sm-offset-2 col-sm-7 alert alert-danger alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
    <span class="sr-only">{% trans "Error:" %}</span>{{ error }}</span>
  </div>
  {% endfor %}

</form>

{% endblock %}
